.online{
   background: url(/img/online-bg.png) ;
   min-width: 100%;
   background-position: center;
   background-size: cover;
   overflow: hidden;
   margin-top: -200px; 
   padding-bottom: 200px;    
   background-position: center;
   background-size: cover;    
   padding-top: 189px;
   z-index: 1;
     &__stroke{
      display: flex;
      justify-content: space-between;
      &--second{
         flex-direction: row-reverse;         
      }
   }   
   &__text{
      overflow: hidden;
      font-family: Gilroy;
      max-width: 679px;
      padding-left: 40px;
      &--title{
         margin-bottom: 39px;
         color: #ffffff;         
         font-size: 40px;
         font-weight: 700;         
         letter-spacing: -0.8px;
         line-height: 32px;
         & p{
         font-size: 60px;
         letter-spacing: -1.2px;
         line-height: 65px;
         }
      }
      &--content{
         margin-bottom: 36px;
         color: #ffffff;
         font-family: Gilroy;
         font-size: 18px;
         font-weight: 400;
         line-height: 30px;         
         letter-spacing: 0.36px;
      }
   }
   &__btn{
      display: flex;
      .button{         
         margin-right: 18px;
      }
   }
}