.button{       
      display: flex;
      justify-content: center;
      align-items: center;      
      cursor: pointer;
      height: 48px;
      &--yellow{           
         box-shadow: 0 5px 0 #293642;
         border: 2px solid #00070e;
         background-color: #f4c300;
      }
      &--link{         
         color: #000000;
         font-family: Gilroy;
         font-size: 18px;
         font-weight: 700;
         line-height: 32px;
         text-transform: uppercase;         
         letter-spacing: 0.36px;
      }
      &--sm{
         width: 166px;
      }
      &--lg{
         width: 296px;
      }
}